{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["naver", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {},
  "root": true
}
